@{
    ViewData["Title"] = "Email Experiments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<p>@Html.ActionLink("Gmail", "Index", "Gmail")</p>*@
<p>@Html.ActionLink("Mailgun", "Index", "Mailgun")</p>